html {
  font-family: Helvetica sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd {
  margin: 0;
  -webkit-text-size-adjust: 100%;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
}
input {
  vertical-align: top;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
}
a,
span,
p {
  line-height: 1;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.clearfix:before {
  display: table;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
html,
body {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.wrap {
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 0.87037037rem;
  bottom: 0.96296296rem;
}
header {
  width: 100%;
  padding: 0.14814815rem 0.2037037rem 0.14814815rem 0.83333333rem;
  box-sizing: border-box;
  background: #fe5400;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: 0.83333333rem 0.74074074rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.search {
  width: 100%;
  height: 0.59259259rem;
}
.search input {
  width: 100%;
  padding: 0;
  border: none;
  background-color: #b52600;
  border-radius: 0.03703704rem;
  height: 0.59259259rem;
  text-align: center;
  color: #fff;
  font-size: 0.2962963rem;
  line-height: 0.59259259rem;
}
::-webkit-input-placeholder {
  color: #fffcda;
  font-size: 0.2962963rem;
}
.content {
  width: 100%;
}
.banner {
  height: 3.12962963rem;
  background-color: red;
  position: relative;
  overflow: hidden;
}
.banner .list {
  width: 1200%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.banner .list li {
  width: 10rem;
  height: 100%;
  float: left;
}
.banner .list a {
  display: block;
  height: 100%;
}
.banner .list img {
  width: 100%;
  height: 100%;
  display: block;
}
.banner nav {
  position: absolute;
  right: 0;
  bottom: 10px;
}
.banner nav span {
  width: 0.18518519rem;
  height: 0.18518519rem;
  display: block;
  float: left;
  margin: 0.09259259rem;
  border-radius: 50%;
  background: #ccc;
  opacity: .7;
}
.banner nav .active {
  background: #fe5400;
  opacity: 1;
}
.make {
  height: 3.11111111rem;
}
.make a {
  display: block;
  height: 100%;
  background: url("../img/make.jpg") no-repeat;
  background-size: 100% 100%;
}
.proc {
  padding-top: 0.14814815rem;
  padding-bottom: 0.18518519rem;
}
.proc a {
  display: block;
  height: 100%;
}
.proc .proc-row {
  height: 1.81481481rem;
}
.proc .proc-row .proc-col {
  width: 20%;
  height: 100%;
  float: left;
}
.proc .proc-row .proc-img {
  height: 1.37037037rem;
  background-size: 100% 100%;
}
.proc .proc-row p {
  text-align: center;
  font-size: 0.2962963rem;
  color: #666666;
  height: 0.46296296rem;
  line-height: 0.46296296rem;
}
.sec-bor {
  border-bottom: 0.16666667rem solid #eeeeee;
}
.topline {
  height: 0.74074074rem;
  border-top: 1px solid #eee;
  padding: 0.14814815rem 0 0.03703704rem 2.16666667rem;
  background: url("../img/topline.png") no-repeat;
  background-position: 0 0.14814815rem;
  background-size: 2.16666667rem 0.74074074rem;
}
.topline .topline-wrap {
  height: 100%;
  border-left: 1px solid #eee;
  padding-left: 1.14814815rem;
  background: url("../img/new.png") no-repeat;
  background-size: 1.14814815rem 100%;
  overflow: hidden;
}
.topline ul li {
  height: 0.74074074rem;
}
.topline ul a {
  display: block;
  font-size: 0.2962963rem;
  height: 100%;
  line-height: 0.74074074rem;
}
.qg {
  height: 5.01851852rem;
}
.qg .qg-l {
  width: 3.81481481rem;
  height: 100%;
  float: left;
  box-sizing: border-box;
  border-right: 1px solid #eee;
  background: url("../img/qg-1.jpg") no-repeat;
  background-size: 100% 100%;
}
.qg .qg-r {
  width: 6.18518519rem;
  height: 100%;
  float: left;
  box-sizing: border-box;
}
.qg .qg-l-t {
  width: 100%;
  height: 2.31481481rem;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  background: url("../img/qg-2.jpg") no-repeat;
  background-size: 100% 100%;
}
.qg .qg-l-b {
  height: 2.68518519rem;
}
.qg .qg-l-b-l {
  width: 50%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  background: url("../img/qg-3.jpg") no-repeat;
  background-size: 100% 100%;
}
.qg .qg-l-b-r {
  width: 50%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  border-left: 1px solid #eee;
  background: url("../img/qg-4.jpg") no-repeat;
  background-size: 100% 100%;
}
.con-wrap .con-row {
  height: 2.92592593rem;
  border-top: 1px solid #eee;
}
.con-wrap .col {
  height: 100%;
  float: left;
}
.con-wrap .con-col1 {
  width: 3.81481481rem;
  background-size: 100% 100%;
}
.con-wrap .con-col2 {
  width: 2.05555556rem;
  box-sizing: border-box;
  border-left: 1px solid #eee;
  background-size: 100% 100%;
}
.economy .title,
.goods .title,
.like .title {
  padding: 0.2037037rem 0;
  text-align: center;
  line-height: 1;
  height: 0.42592593rem;
}
.economy .title span,
.goods .title span,
.like .title span {
  display: inline-block;
  vertical-align: top;
  padding-left: 0.57407407rem;
  height: 0.42592593rem;
  line-height: 0.42592593rem;
  color: #ff350e;
  font-size: 0.2962963rem;
  background-size: 0.42592593rem;
}
.economy span {
  background: url("../img/economy.png") no-repeat;
}
.goods span {
  background: url("../img/goods.png") no-repeat;
}
.like {
  background-color: #eee;
}
.like .title {
  height: 1.2962963rem;
}
.like .title span {
  background: url("../img/like.png") no-repeat;
  color: #333333;
  background-size: 0.42592593rem;
}
.like .title p {
  font-size: 0.2962963rem;
  margin-top: -0.2962963rem;
}
.like-list {
  background-color: #eee;
}
.like-list li {
  width: 49.5%;
  height: 6.66666667rem;
  background-color: #fff;
  margin-bottom: 0.16666667rem;
}
.like-list li:nth-of-type(odd) {
  float: left;
}
.like-list li:nth-of-type(even) {
  float: right;
}
.like-list .img {
  height: 4.62962963rem;
  background-size: 100% 100%;
}
.like-list .name {
  box-sizing: border-box;
  font-size: 0.22222222rem;
  color: #666666;
  margin: 0.188rem 0.313rem;
}
.like-list .price {
  box-sizing: border-box;
  color: #ff5000;
  font-size: 0.40740741rem;
  text-indent: 0.313rem;
}
footer {
  width: 100%;
  height: 0.81481481rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  padding: 0.07407407rem 0;
  border-top: 3px solid #ccc;
  z-index: 10;
}
footer a {
  display: block;
  width: 20%;
  float: left;
  height: 100%;
}
footer a span {
  display: block;
  width: 0.44444444rem;
  height: 0.5rem;
  margin: 0 auto;
}
footer a:nth-of-type(1) span {
  background: url("../img/a-1.png") no-repeat;
  background-size: 100% 100%;
}
footer a:nth-of-type(2) span {
  background: url("../img/a-2.png") no-repeat;
  background-size: 100% 100%;
}
footer a:nth-of-type(3) span {
  background: url("../img/a-3.png") no-repeat;
  background-size: 100% 100%;
}
footer a:nth-of-type(4) span {
  background: url("../img/a-4.png") no-repeat;
  background-size: 100% 100%;
}
footer a:nth-of-type(5) span {
  background: url("../img/a-5.png") no-repeat;
  background-size: 100% 100%;
}
footer a p {
  text-align: center;
  font-size: 0.25925926rem;
  height: 0.2962963rem;
  line-height: 0.2962963rem;
}
.scroll {
  position: absolute;
  width: .1rem;
  top: 0.87037037rem;
  right: 0;
  bottom: 0.96296296rem;
  z-index: 100;
}
.scrollbar {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 0;
  left: 0;
  border-radius: .05rem;
  background: #333333;
  visibility: hidden;
  opacity: .6;
}
.footer {
  width: 10rem;
  border-top: 1px solid #292c33;
  background-color: #4E525E;
  box-sizing: border-box;
  padding: 0.5625rem 0.25rem;
}
.footer .buttons {
  display: flex;
  justify-content: space-between;
  text-align: justify;
}
.footer .buttons a {
  display: inline-block;
  height: 0.9375rem;
  line-height: 0.9375rem;
  color: #c3c6ca;
  border: 2px solid #42454d;
  background-color: #555965;
  padding: 0 0.43875rem;
  border-radius: 12px;
  font-size: 0.44444444rem;
}
.gotop {
  width: 1.11111111rem;
  height: 1.11111111rem;
  position: absolute;
  bottom: 0.18518519rem;
  right: 0.18518519rem;
  background: url(../img/gotop.png) no-repeat;
  background-size: 100%;
  display: none;
  z-index: 10;
}
